.jumbotron {
    padding: 5px;
    width: 100%;
    padding-bottom: 20px;

}

.parlor {
    background: url();
}

h1 {
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.winy {
    text-align: center;
    display: flex;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: space-between;
    
}




body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_ERDWUCWqXDA-EHrTi2fR1_NyeoyVm95j65uoJ0Cg_iQhoJGq&s);
    background-repeat: no-repeat;
    background-size: cover;
}


form {
    display: flex;


}

label {
    width: 15vh;
}

label,
select {
    margin-top: 1vh;
    margin-left: 4vh;
}

input[type=number] {
    margin-top: 1vh;
    margin-left: 2vh;
    width: 5vw;
    color: blue;
}

#btn {
    margin-left: 5vw;
    margin-bottom: 1vh;
    color: black;
    background-color: skyblue;
}

.button {
    
    margin-top: 8%;
    text-align: center;

   

}

.card{
    margin-top: 5%;
    justify-content: center;
    width: 100%;
}

#twoImages{
    margin-top: 0vh;
    width: 100%;
}

img{
    border-radius: 10%;
    width: 100%;
    
}